## Python notes

### 1. print(), list, .append(), .remove()
### 2. indexing
### 3. len(), .insert(), .pop(), range()
### 4. slicing
### 5. sorted() and .sort()

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#print
print('Hello World')

Hello World

In [3]:
#create a list with brackets
#hey dummy don't name things with functions

list_1 = ['Becky', 'Nell', 'Jon']
print(list)

<class 'list'>

In [4]:
#.append()

list_1.append('Mer')
print(list)

<class 'list'>

In [5]:
#.remove() removes named value
list_1.remove('Jon')
print(list)

<class 'list'>

In [7]:
#add lists

list_2 = ['Hex', 'Jinx']
full_list = list_1 + list_2
print(full_list)

['Becky', 'Nell', 'Mer', 'Hex', 'Jinx']

In [8]:
#python indexes at 1 so you can call values with []
list_1[1]

'Nell'

In [9]:
#negative indexing

list_1[-1]

'Mer'

In [10]:
#replace values

list_1[0] = 'Maggie'
print(list)

<class 'list'>

In [11]:
#nested lists

list_3 = [['Hex', 5], ['Jinx', 5], ['Becky', 39], ['Nell', 42]]
print(list_3)

[['Hex', 5], ['Jinx', 5], ['Becky', 39], ['Nell', 42]]

In [12]:
#access in lists

list_3[1][0]

'Jinx'

In [13]:
#remove in nested lists

list_3[0].remove('Hex')
print(list_3)

[[5], ['Jinx', 5], ['Becky', 39], ['Nell', 42]]

In [14]:
#.count('value') counts the value

list_1.count('Nell')

1

In [15]:
# len()
len(list_1)

3

In [17]:
# .insert(index, 'addition')

list_1.insert(0, 'Ariel')
print(list_1)

['Ariel', 'Ariel', 'Maggie', 'Nell', 'Mer']

In [18]:
#.pop(index)

list_1.pop(1)
print(list_1)

['Ariel', 'Maggie', 'Nell', 'Mer']

In [19]:
name = list_1.pop(1)
print(name)

Maggie

In [ ]:
#range(from, to)
#DON'T DO THIS if you redefine it it stops working (I am an idiot)

#range = range(0, 9)

In [20]:
print(list_1)

['Ariel', 'Nell', 'Mer']

In [21]:
my_range2 = range(2, 9, 2)
print(list(my_range2))

[2, 4, 6, 8]

In [23]:
#range takes 2 arguments, start and (before) finish
my_range = range(0,9)
print(list(my_range))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
#range takes 3 arguments, start-finish-count-by

my_range1 = range(0,101, 5)
print(list(my_range1))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [26]:
#slicing [start : to one more than you want] 
letters = ["a", "b", "c", "d", "e", "f", "g"]

sliced_list = letters[1:6]
print(sliced_list)

['b', 'c', 'd', 'e', 'f']

In [27]:
# select the first n elements list[:n]

print(letters[:2])

['a', 'b']

In [28]:
#print from n onward

print(letters[2:])

['c', 'd', 'e', 'f', 'g']

In [29]:
#you can also use negatives to slice

print(letters[-3:])

['e', 'f', 'g']

In [32]:
#.sort() sorts a list alphabetically or .sort(reverse = True)
#changes the actual list so doesn't need to be a variable

print(list_1)
list_1.sort()
print(list_1)
list_1.sort(reverse = True)
print(list_1)

['Ariel', 'Mer', 'Nell']
['Ariel', 'Mer', 'Nell']
['Nell', 'Mer', 'Ariel']

In [34]:
# sorted() isn't a funciton, it takes an argument
#can be assigned to a variable

sorted_list = sorted(list_1)
print(sorted_list)

['Ariel', 'Mer', 'Nell']

In [1]:
#using .zip() and list(zip)

names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 64]

In [2]:
names_and_heights = zip(names, heights)

In [3]:
print(names_and_heights)

<zip object at 0x7fb7d321ce80>

In [5]:
#these are not bracketed because they are tuples

converted_list = list(names_and_heights)
print(converted_list)

[]