## Python notes 2

### 1. loops (for, while, break, continue)

### 2. list comprehensions

### 3. functions using loops

In [1]:
#loops
#for loops

sport_games = ["football", "hockey", "baseball", "cricket"]

In [2]:
for sport in sport_games:
  print(sport)

football
hockey
baseball
cricket

In [3]:
#use range to set how many loops

for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [4]:
#use temp variable to count loops

for temp in range(6):
  print("Loop is on iteration number " + str(temp + 1))

Loop is on iteration number 1
Loop is on iteration number 2
Loop is on iteration number 3
Loop is on iteration number 4
Loop is on iteration number 5
Loop is on iteration number 6

In [5]:
#while loops

countdown = 10

while countdown >= 0:
  print(str(countdown))
  countdown -=1
print("We have liftoff!")

10
9
8
7
6
5
4
3
2
1
0
We have liftoff!

In [7]:
#while loops using len
ingredients = ["milk", "sugar", "vanilla extract", "dough", "chocolate"]

length = len(ingredients)
index = 0
 
while index < length:
  print(ingredients[index])
  index += 1

milk
sugar
vanilla extract
dough
chocolate

In [8]:
python_topics = ["variables", "control flow", "loops", "modules", "classes"]

length = len(python_topics)
index = 0

while index < length:
  print("I am learning about " + str(python_topics[index]))
  index += 1

I am learning about variables
I am learning about control flow
I am learning about loops
I am learning about modules
I am learning about classes

In [9]:
#using break to end a loop

items_on_sale = ["blue shirt", "striped socks", "knit dress", "red headband", "dinosaur onesie"]
print("Checking the sale list!")
 
for item in items_on_sale:
  print(item)
  if item == "knit dress":
    break
 
print("End of search!")

Checking the sale list!
blue shirt
striped socks
knit dress
End of search!

In [10]:
#using continue -- it will skip all ages < 21

ages = [12, 38, 34, 26, 21, 19, 67, 41, 17]

for age in ages:
  if age < 21:
    continue
  print(age)

38
34
26
21
67
41

In [11]:
#nested loops and printing out nested lists

sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]

for location in sales_data:
  print(location)

[12, 17, 22]
[2, 10, 3]
[5, 12, 13]

In [12]:
#to print out each individual number:

for location in sales_data:
  for sales_data in location:
    print(sales_data)

12
17
22
2
10
3
5
12
13

In [17]:
#you can also add or loop or whatever

In [16]:
sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]

scoops_sold = 0

for location in sales_data:
  print(location)
  for sales_data in location:
    scoops_sold += sales_data
    

print(scoops_sold)

[12, 17, 22]
[2, 10, 3]
[5, 12, 13]
96

## List Comprehensions

In [18]:
# new_list = [<expression> for <element> in <collection>]

grades = [90, 88, 62, 76, 74, 89, 48, 57]

scaled_grades = [num + 10 for num in grades]

print(scaled_grades)

[100, 98, 72, 86, 84, 99, 58, 67]

In [19]:
# using if or else

numbers = [2, -1, 79, 33, -45]
doubled = [num * 2 if num < 0 else num * 3 for num in numbers ]
print(doubled)

[6, -2, 237, 99, -90]

In [20]:
heights = [161, 164, 156, 144, 158, 170, 163, 163, 157]
can_ride_coaster = [num for num in heights if num > 161]
print(can_ride_coaster)

[164, 170, 163, 163]

In [21]:
#review of loops and list comprehensions:

single_digits = range(0, 10)
squares = []

for i in single_digits:
  print(i)
  squares.append(i ** 2)

print(squares)

cubes = [i **3 for i in single_digits] 

print(cubes)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [1]:
#First, letâ€™s sum up all the prices of haircuts. Create a variable total_price, and set it to 0

hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]

prices = [30, 25, 40, 20, 20, 35, 50, 35]

last_week = [2, 3, 5, 8, 4, 4, 6, 2]

total_price = 0

In [2]:
# Loop through the prices list and add each price to the variable total_price.

for price in prices:
  total_price += price

print(total_price)

255

In [3]:
#create a variable called average_price that is the total_price divided by the number of prices

average_price = total_price/len(prices)

print("Average Haircut Price: " + str(average_price))

Average Haircut Price: 31.875

In [6]:
#Use a list comprehension to make a list called new_prices, which has each element in prices minus 5.

new_prices = [n - 5 for n in prices]

print(new_prices)

[25, 20, 35, 15, 15, 30, 45, 30]

In [8]:
# Use a for loop to create a variable i that goes from 0 to len(hairstyles)

#Add the product of prices[i] (the price of the haircut at position i) and last_week[i] (the number of people who got the haircut at position i) to total_revenue at each step.

total_revenue = 0

for i in range(0, len(hairstyles)):
  total_revenue += (prices[i] * last_week[i])

print("Total Revenue: " + str(total_revenue))

Total Revenue: 1085

In [9]:
average_daily_revenue = total_revenue/len(last_week)

print(average_daily_revenue)

135.625

In [11]:
#Use a list comprehension to create cuts_under_30 that has the entry hairstyles[i] for each i for which new_prices[i] is less than 30.

#formual is:
# new_list = [old_list[i] for i in range(len(old_list)) if different_list[i] < 0]

cuts_under_30 = [hairstyles[i] for i in range(len(hairstyles)) if new_prices[i] < 30]
print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']

In [1]:
#practice writing functions with loops

def divisible_by_ten(nums):
  count = 0
  for i in nums:
    if i % 10 == 0:
      count += 1
  return count

In [2]:
print(divisible_by_ten([20, 25, 30, 35, 40]))

3

In [3]:
def add_greetings(names):
  greetings = []
  for n in names:
    greetings.append("Hello, " + n)
  return greetings

In [4]:
print(add_greetings(["Owen", "Max", "Sophie"]))

['Hello, Owen', 'Hello, Max', 'Hello, Sophie']

In [5]:
def delete_starting_evens(lst):
  while len(lst) > 0 and lst[0] % 2 == 0:
    lst = lst[1:] 
  return lst

print(delete_starting_evens([4, 8, 10, 11, 12, 15]))
print(delete_starting_evens([4, 8, 10]))

[11, 12, 15]
[]

In [6]:
def odd_indices(lst):
  new_list = []
  for index in range(1, len(lst), 2):
    new_list.append(lst[index])
  return new_list


print(odd_indices([4, 3, 7, 10, 11, -2]))

[3, 10, -2]

In [7]:
def exponents(bases, powers):
  new_list = []
  for b in bases:
    for p in powers:
      new_list.append(b ** p)
  return new_list

print(exponents([2, 3, 4], [1, 2, 3]))

[2, 4, 8, 3, 9, 27, 4, 16, 64]

#### Create a function named over_nine_thousand() that takes a list of numbers named lst as a parameter.

#### The function should sum the elements of the list until the sum is greater than 9000. When this happens, the function should return the sum. If the sum of all of the elements is never greater than 9000, the function should return total sum of all the elements. If the list is empty, the function should return 0.

In [1]:
def over_nine_thousand(lst):
  sum = 0
  for item in lst:
    sum += item
    if (sum > 9000):
      break
  return sum

print(over_nine_thousand([8000, 900, 120, 5000]))

9020

In [1]:
#Create a function named max_num() that takes a list of numbers named nums as a parameter.

#The function should return the largest number in nums

In [2]:
def max_num(nums):
  biggest = nums[0]
  for n in nums:
    if n > biggest:
      biggest = n
  return biggest

print(max_num([50, -10, 0, 75, 20]))

75