In [1]:
import pandas as pd

Import all the files

In [2]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [3]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [4]:
visit_cart = pd.merge(visits, cart, how='left')

Step 3: How long is `visits_cart`?

In [5]:
visit_cart.info

<bound method DataFrame.info of                                    user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time
0                    NaT
1    2017-01-26 14:44:00
2    2017-08-20 08:31:00
3                    NaT
4                    NaT
...                  ...
1995                 NaT
1996                 NaT
1997                 NaT
1998                 NaT
1999                 NaT

[2000 rows x 3 columns]>

Step 4: How many timestamps are null for `cart_time`?

In [6]:
visit_cart.isnull().sum()

user_id          0
visit_time       0
cart_time     1652
dtype: int64

Step 5: What percentage only visited?

In [7]:
1652 / 2000

0.826

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [8]:
checkout.isnull().sum()

checkout.info

<bound method DataFrame.info of                                   user_id       checkout_time
0    d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1    4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2    3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3    89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4    3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
..                                    ...                 ...
221  55de53ae-89f6-43ff-a26d-df284678aca1 2017-03-17 20:04:00
222  58545be1-0a55-4d26-b584-df26e258d0ed 2017-07-20 01:35:00
223  c62fdf2f-3b30-4624-8463-d3961e687997 2017-11-21 22:58:00
224  f3dd7631-3cf6-4d49-9c6e-b48eda4432b5 2017-01-04 10:20:00
225  ba011b1d-6cc5-4147-ae8a-1722a1f5c27c 2017-10-24 08:32:00

[226 rows x 2 columns]>

In [9]:
2000-1652

348

In [10]:
226 / 348

0.6494252873563219

Step 7: Merge it all together

In [11]:
df_all2 = pd.merge(visit_cart, checkout, how = 'left')

# pd.merge(company_a, company_b, how='outer')

In [12]:
df_all3 = pd.merge(df_all2, purchase, how = 'left')

Step 8: % of users who got to checkout but did not purchase

In [21]:
df_all3.info

<bound method DataFrame.info of                                    user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
2103  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
2104  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
2105  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
2106  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
2107  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time       checkout_time       purchase_time
0                    NaT                 NaT                 NaT
1    2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2    2017-08-20 08:31:00                 NaT                 NaT
3                    NaT                 NaT                 NaT
4                    NaT                 NaT                 NaT
...                  ...                 ...                 ...
2103                 NaT                 NaT                 NaT
2104                 NaT                 NaT                 NaT
2105                 NaT                 NaT                 NaT
2106                 NaT                 NaT                 NaT
2107                 NaT                 NaT                 NaT

[2108 rows x 5 columns]>

In [14]:
df_all3.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

In [15]:
df_all3.checkout_time.isnull().sum()

1774

In [17]:
df_all3.purchase_time.isnull().sum()

1856

In [18]:
1774/1856

0.9558189655172413

Step 9: check each part of the funnel, let's print all 3 of them again

In [19]:
df_all3.visit_time.isnull().sum()

0

In [20]:
df_all3.cart_time.isnull().sum()

1652

2108 people visited, 456 added to cart, 334 got to checkout, 252 purchased, so the majority who added to cart did purchase, but most people who visited did not add to cart

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [22]:
#Add a column that is the difference between purchase_time and visit_time.

df_all3['purchase_to_visit'] = df_all3.purchase_time - df_all3.visit_time

In [23]:
df_all3.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time,purchase_to_visit
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT

Step 11: examine the results

In [24]:
df_all3.purchase_to_visit.value_counts()

0 days 00:47:00    9
0 days 00:51:00    8
0 days 00:32:00    8
0 days 00:35:00    8
0 days 00:29:00    8
                  ..
0 days 01:08:00    1
0 days 01:17:00    1
0 days 01:04:00    1
0 days 00:19:00    1
0 days 00:11:00    1
Name: purchase_to_visit, Length: 62, dtype: int64

Step 12: average time to purchase

In [25]:
df_all3.purchase_to_visit.mean()

Timedelta('0 days 00:43:12.380952380')